.main-div mat-card {
  padding: 0px;
  margin-top: 50px;
}
.login-form {
  padding: 20px;
}
.success-line {
  padding: 10px;
  color: black;
  background:  #64ffda;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid #64ffda;
}
.text-muted {
  color: red;
}
.error-line {
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #f44336;
  margin-left: 10px;
  margin-right: 10px;
  background: #f44336;
  color: white;
}
form .upload {
  position: relative;
  overflow: hidden;
  width: 200px;
  padding: 8px;
  text-align: center;
  background: #64ffda;
  border-radius: 3px;
  margin-bottom: 5px;
}
form .upload input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}
form .upload label {
  color: black;
}
form .upload label:before {
  content: "\21EA";
  margin-right: 5px;
}
.thumbnail {
  width: 100px;
}
.image-label {
  font-size: 13px;
  color: gray;
  font-family: sans-serif;
  line-height: 1.125;
  font-weight: 400;
}
.submit-form-btn {
  margin-top: 5px;
  margin-left: 2.5%;
  margin-right: 2.5%;
}
.example-spacer {
  flex: 1 1 auto;
}
