.main-div mat-card {
  padding: 0px;
  margin-top: 50px;
}
.text-muted {
  background: #f44336;
  color: white;
}
.error-line {
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #f44336;
  margin-left: 10px;
  margin-right: 10px;
}
.center {
  display: block;
  width: 50%;
  margin: 15px auto 15px auto;
}
.description {
  padding: 15px;
}
.example-spacer {
  flex: 1 1 auto;
}
